@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

h1 {
    line-height: 1.2 !important;
}

img {
    max-width: 100%;
}

ul,
li {
    list-style-type: none;
}

p {
    line-height: 1.8;
}

.max-width {
    @apply px-5 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

.shortener {
    background-color: hsl(257, 27%, 26%);
    height: 10rem;
    border-radius: 8px;
}

.shortener img {
    height: 10rem;
    @apply w-full rounded-lg;
}

.shortener .form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.boost {
    background-color: hsl(257, 27%, 26%);
    height: 17.188rem;
}

.boost img {
    height: 17.188rem;
    @apply w-full;
}

.boost .boost-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-cta {
    @apply bg-cyan-500 py-2 px-4 text-white hover:opacity-75 transition-all duration-150;
}

@media (min-width: 1024px) {
    .card article:nth-child(3) {
        transform: translateY(2rem);
    }

    .card article:last-child {
        transform: translateY(4rem);
    }

    .line {
        @apply bg-cyan-500 h-2 w-full absolute;
        top: 50%;
    }
}